.block
  = u.label :username, t("labels.username")
  = u.text_field :username
.block
  = u.label :email, t("labels.email")
  = u.text_field :email
.block
  = u.label :password, t("labels.password")
  = u.password_field :password
