- form_for setup_user(@user) do |u|
  = u.error_messages

  %h2 Dein Profil
  = render :partial => "form", :locals => { :u => u }

  - u.fields_for :projects do |p|
    %h3 Deine Projekte

    .block
      = p.label :name, t("labels.name")
      = p.text_field :name
    .block
      = p.label :link, t("labels.link")
      = p.text_field :link

  .block.action
    = u.submit t("labels.save")
    = link_to t("labels.or_cancel"), users_path, :class => "cancel"
