- form_for @user_session do |us|
  = us.error_messages

  %h2 Anmelden

  .block
    = us.label :username
    = us.text_field :username
  .block
    = us.label :password
    = us.password_field :password
  .block.action
    = us.submit t("labels.login")
    = link_to t("labels.or_cancel"), root_url, :class => "cancel"
