!!!
%html
  %head
    %title hamburg.onruby
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    = stylesheet_link_tag "reset", "screen", :cache => true

  %body
    #center
      %h1= link_to "<strong>hamburg</strong>.onruby", root_url
      %ul#account
        - account_links.each do |link|
          %li= link_to link[:name], link[:link]
      %br.clear
      #stage
        = show_flash
        = yield
    = javascript_include_tag "jquery-1.3.2.min", "project", :cache => true